td, th {
    color: rgb(247, 255, 251);
    /*font-size: large;*/
}

.container-fluid{
    width: 80%;
    height: 80%;
    overflow-y: auto;
}
.table{
    margin-top: 1%;
}
.cst-text{
    color: rgb(247, 255, 251);
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(127, 57, 57, 0.57);
}
/*html,*/
body {
    height: 100%;
    background-color: #222;
    text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}